* {
  box-sizing: border-box;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
  color: darkblue;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  background-size: 48px 18px;
  background-color: #cbcfd1;
  background-image: linear-gradient(90deg, #607584 1%, transparent 2%),
    linear-gradient(
      45deg,
      transparent 7%,
      #607584 10%,
      transparent 10%,
      transparent 35%,
      #607584 37%,
      transparent 33%
    ),
    linear-gradient(
      -45deg,
      transparent 8%,
      #e6ebed 10%,
      transparent 10%,
      transparent 35%,
      #e6ebed 37%,
      transparent 33%
    );
}

img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 25%;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.bar {
  margin-top: 100px;
}

.timer {
  border: 1px solid black;
  border-radius: 70px;
  width: 75vw;
  margin-top: 50px;
  padding: 50px;
  color: white;
  background-color: #0d474d;
  opacity: 75%;
  text-align: center;
  font-size: 50px;
}
