/* Wrapper */
.wrapper {
  max-width: 1392px;
  margin: 0 auto;
}

/* Кнопка-ссылка Личный кабинет, попробовать бесплатно */

.link {
  font-weight: 800;
  font-size: 17px;
  line-height: 140%;
  color: var(--bg-color-secondary);
  background-color: var(--bg-color-primary);
  border-radius: var(--border-34);
  padding: 12px 32px;
}

/* Горизонтальная разделительная линия секций */

.horizontal-rule {
  border-color: var(--color-line);
  border-bottom: none;
}

.horizontal-rule__footer {
  color: var(--color-line-footer);
  border-bottom: 1px solid;
}
/* Заголовок h1 */

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: var(--bg-color-primary);
}

/* Элемент блока Product-feature */

.product-feature__item {
  display: flex;
  gap: 16px;
  align-items: center;
  align-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text-black);
}

/* Info-container */

.info-container {
  display: flex;
  gap: 63px;
  margin: 63px 0 37px;
  padding-left: 118px;
}

.info-container__headling {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-text-black);
}

.info-container__paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-text-paragraph);
}

.container-revers {
  flex-direction: row-reverse;
  margin: 80px 0;
  padding-left: 0;
  padding-right: 118px;
  gap: 65px;
  position: relative;
}

.info-container__image-container {
  position: relative;
}

.price-table {
  position: absolute;
  width: 88%;
  top: 28%;
  left: 39%;
  z-index: 2;
}

.container-revers_overflow {
  gap: 217px;
  margin-bottom: 120px;
}

/* Заголовок h2 белого цвета */
.section-headling__h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: var(--color-text-button);
}

/* Текст с прозрачностью 80%*/

.section-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--link-color-80);
}

/* box-info__advantages */
.box-info__advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Стиль для заголовка h2 и параграфа под ним */
.section-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.section-header__subtitle {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 48px;
  color: var(--color-text-black);
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.section-header__paragraph {
  color: var(--color-text-paragraph);
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

/* Стилизация карточек тарифов */

.tarifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  gap: 24px;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px;
  box-shadow: 0px 0px 32px 0px var(--color-shadow);
  border-radius: var(--border-8);
  background-color: var(--bg-color-primary);
  align-items: center;
  align-content: baseline;
}

.product-card__subtitle {
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--color-text-black);
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 32px;
}

.product-card__paragraph {
  color: var(--color-text-paragraph);
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0%;
}

.no-discount {
  padding: 93px 40px 48px;
}

.product-card__info {
  margin: 34px 0 24px;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--color-card-info);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.discount {
  padding: 48px 40px;
}

.info_line {
  grid-column: 1 / -1;
}

.product-card__button {
  background-color: var(--bg-color-secondary);
  border: none;
  border-radius: 47px;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--color-text-button);
  padding: 12px 63.5px;
  cursor: pointer;
}

.product-card__discount {
  background-color: var(--bg-color-discount);
  border-radius: var(--border-8);
  padding: 4px 16px;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--color-text-discount);
  width: fit-content;
}

.product-card__discount_25-50 {
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--color-text-discount);
}

.product-card__info_12month {
  margin: 16px 0 18px;
}

.product-card__info_benefit {
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--color-text-discount);
  border-radius: var(--border-8);
  background-color: var(--bg-colot-benefit);
  padding: 8px 16px;
  width: fit-content;
  margin: -16px;
}

.product-card:hover {
  cursor: pointer;
  --color-text-black: #ffffff;
  --color-card-info: #ffffff;
  --bg-color-secondary: #ffffff;
  --color-text-button: #357efe;
  --bg-color-primary: #357efe;
  --color-text-paragraph: #ffffff99;
}

/* section-footer__textstyle (стилизация текста футера) */

.section-footer__textstyle70 {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: var(--color-text-footer70);
}

.section-footer__textstyle50 {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: var(--color-text-footer50);
}
