:root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #357efe;
  --bg-color-discount: #1abc9c;
  --bg-colot-benefit: #ffc736;
  --bg-footer: #1a1d25;
  --color-text-black: #000000;
  --color-text-paragraph: #4e5d7c80;
  --color-card-info: #4e5d7c;
  --color-line: #4e5d7c14;
  --color-line-footer: #ffffff14;
  --color-line-mobile: #ffffff29;
  --color-text-button: #ffffff;
  --color-text-discount: #ffffff;
  --border-8: 8px;
  --boder-16: 16px;
  --border-34: 34px;
  --link-color-80: #ffffffcc;
  --link-hover: #0d54cf;
  --color-shadow: #4e5d7c29;
  --color-text-footer50: #ffffff80;
  --color-text-footer70: #ffffffb2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color-primary);
}

a {
  text-decoration: none;
}
