* {
  box-sizing: border-box;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  max-width: 1440px;
  margin: 0 auto;
}

button {
  position: absolute;
  top: 14px;
  left: 18px;
  background: 10%;
  height: 14px;
}

h1 {
  font-size: 1.5rem;
  line-height: 38px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

header {
  padding: 72px 180px 73px;
}

img {
  border-radius: 5px;
}

nav a {
  border: none;
}

nav a,
#search {
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
}

nav ul {
  border: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

form {
  position: relative;
  margin-left: auto;
}

footer {
  margin: 0;
  padding: 100px 0 77px 0;
}

input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

input:focus {
  outline: none;
}

span a {
  text-decoration: underline;
  text-decoration-style: solid;
}

#heroTextB {
  font-family: "Source Code Pro", sans-serif;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 18px;
  background-color: #4b5563;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 15px 30px 0px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroDate,
time {
  font-size: 14px;
  line-height: 100%;
}

#heroDate {
  padding: 0;
  border: 0;
  margin-bottom: 14px;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#search {
  background: #1f293799;
  border-radius: 100px;
  border: none;
  padding: 9px 49px 12px;
}

.bullet {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ffffff99;
}

.colorSpectrum {
  margin-bottom: 41px;
}

.developer {
  font-size: 14px;
  opacity: 0.6;
}

.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item1 {
  margin-left: 11px;
}

.item2 {
  margin-left: 77px;
}

.item3 {
  margin-left: 52px;
}

.item4 {
  margin-left: 39px;
}

.personName,
.developer,
.textFooter {
  font-size: 16px;
  line-height: 28px;
}

.personName,
.developer {
  margin: 0;
  padding: 0;
  border: 0;
}

.sectionText1 {
  font-size: 20px;
  line-height: 32px;
}

.sectionText1,
.sectionText2 {
  border: 0;
  padding: 0;
}

.sectionText2,
span a,
.textFooter {
  font-size: 16px;
  line-height: 30px;
}

.personData {
  margin-top: 2px;
  display: flex;
  gap: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 0 365px;
}

.sectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.textFooter {
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
