* {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
}

main {
  background: #f39494;
}

h1 {
  color: #333333;
  font-weight: 700;
  font-size: 36px;
}

form {
  color: #fffefe;
}

a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
}

input {
  color: #999999;
  background: #f5f5f5;
  font-style: italic;
}

label {
  font-weight: 400;
  font-size: 14px;
}

button {
  color: #ffffff;
  background: #089fe0;
  font-weight: 400;
  font-size: 18px;
}
